* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.mario{
    width: 100px;
    height: 150px;
    background-image: url(../img/Camada1.png);
    background-size: 100% 100%;
    margin-top: 621px;
    margin-left: 50px;
}
.fundo{
    height: 100dvh;
    background-size: 100% 100%;
    background-image: url(../img/fundo.png);
}
.transp{

    height: 85dvh;
    display: flex;
    align-items: end;
}
